* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    font-family: sans-serif;
    height: 10000px;
}
.magical {
    padding: 0 20%;
    text-align: left;
}
.texet {
    width: 70%;
    padding: 150px 0;
    z-index: 11;
}
.texet p {
    font-size: 2rem;
    color: #fff;
    line-height: 1.3;
}
.texet h3 {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}
    .conceting {
    padding: 5px 0;
    width: 100%;
    height: 700px;
    position: relative;
}
#airbods{
    position: fixed;
    /* top: 78%; */
    left: 35%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: 0.9s;
}
#conect{
    position: fixed;
    width: 320px;
    height: 625px;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
#content_pargraph {
    position: fixed;
    /* top: %; */
    left: 70%;
    transform: translate(-50%, -50%);
    width: 20%;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
#content_pargraph h2{
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
#content_pargraph p{
    color: #777;
    font-size: 1.3rem;
}
#backphone,
#caverphone,
#usephone {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#usephone {
    border-radius: 50px;
}
#useing_pargraph{
    position: fixed;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 20%;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
#useing_pargraph h2{
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
#useing_pargraph p{
    color: #777;
    font-size: 1.3rem;
}
#useing_pargraph p .gray{
    color: #00ff41;
}

